.event-informations {
  &__user-tabs {
    display: flex;
    list-style: none;
    padding-top: 2rem;
  }

  &__user-tab {
    padding-right: 1rem;
    cursor: pointer;

    &:hover {
      color: var(--color-secondary-red);
    }
  }
  &__container {
    padding: 3rem;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
  }
}
