<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form__group">
    <label class="form__label" for="register-email">Email:</label>
    <input
      class="input"
      id="register-email"
      type="text"
      formControlName="email"
    />
    <ng-container *ngIf="registerForm.controls['email'].touched">
      <div
        class="input__msg--error"
        *ngIf="registerForm.controls['email'].errors?.['required']"
      >
        Pole wymagane
      </div>
      <div
        class="input__msg--error"
        *ngIf="registerForm.controls['email'].errors?.['email']"
      >
        Podaj prawidłowy adres email
      </div>
    </ng-container>
  </div>
  <div class="form__group">
    <label class="form__label" for="register-password">Hasło:</label>
    <input
      class="input"
      id="register-password"
      type="password"
      formControlName="password"
    />
    <ng-container *ngIf="registerForm.controls['password'].touched">
      <div
        class="input__msg--error"
        *ngIf="registerForm.controls['password'].errors?.['required']"
      >
        Pole wymagane
      </div>
      <div
        class="input__msg--error"
        *ngIf="registerForm.controls['password'].errors?.['minlength']"
      >
        Minimalna długość hasła wynosi
        {{registerForm.controls['password'].errors?.['minlength'].requiredLength}}
        znaków
      </div>
    </ng-container>
  </div>
  <div class="form__group form__group--inline">
    <label class="form__label" for="register-admin">Zarejestruj jako admin:</label>
    <input id="register-admin" type="checkbox" formControlName="isAdmin" />
  </div>
<div class="form__group">

  <button class="btn btn--primary btn--medium" [disabled]="registerForm.invalid">
    Zarejestruj
  </button>
</div>
</form>
