<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form__group">
    <label class="form__label" for="register-email">Email:</label>
    <input
      class="form__input"
      id="register-email"
      type="text"
      formControlName="email"
    />
    <ng-container *ngIf="registerForm.controls['email'].touched">
      <div
        class="form__error"
        *ngIf="registerForm.controls['email'].errors?.['required']"
      >
        Pole wymagane
      </div>
      <div
        class="form__error"
        *ngIf="registerForm.controls['email'].errors?.['email']"
      >
        Podaj prawidłowy adres email
      </div>
    </ng-container>
  </div>
  <div class="form__group">
    <label class="form__label" for="register-password">Password:</label>
    <input
      class="form__input"
      id="register-password"
      type="password"
      formControlName="password"
    />
    <ng-container *ngIf="registerForm.controls['password'].touched">
      <div
        class="form__error"
        *ngIf="registerForm.controls['password'].errors?.['required']"
      >
        Pole wymagane
      </div>
      <div
        class="form__error"
        *ngIf="registerForm.controls['password'].errors?.['minlength']"
      >
        Minimalna długość hasła wynosi
        {{registerForm.controls['password'].errors?.['minlength'].requiredLength}}
        znaków
      </div>
    </ng-container>
  </div>
  <div class="form__group form__group--inline">
    <label class="form__label" for="register-admin">Register as admin:</label>
    <input id="register-admin" type="checkbox" formControlName="isAdmin" />
  </div>

  <button class="button button--primary" [disabled]="registerForm.invalid">
    Submit
  </button>
</form>
