<form [formGroup]="form">
  <label for="group-name">Nazwa:</label>
  <input id="group-name" type="text" formControlName="name">
  <ng-container *ngIf="form.controls['name'].touched">
    <div *ngIf="form.controls['name'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
</form>
<label for="user-search">Wyszukaj użytkowników:</label>
<input id="user-search" type="search" [formControl]="userSearch">
<ng-container *ngIf="users$ | async as users">
  <div *ngFor="let user of users" (click)="selectUser(user)">{{user.firstName}} {{user.secondName}}</div>
</ng-container>
