.container {
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
}

body {
  min-height: 110vh;
}

a {
  text-decoration: none;
  color: var(--color-secondary-gray-2);

  &:hover {
    color: var(--color-secondary-red);
  }
}
