
<form [formGroup]="firstForm" *ngIf="step===1" (ngSubmit)="firstFormSubmit()">
  <label for="event-name">Nazwa:</label>
  <input id="event-name" type="text" formControlName="name">
  <ng-container *ngIf="firstForm.controls['name'].touched">
    <div *ngIf="firstForm.controls['name'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-descritpion">Opis:</label>
  <textarea id="event-descritpion" type="text" formControlName="description"></textarea>
  <ng-container *ngIf="firstForm.controls['description'].touched">
    <div *ngIf="firstForm.controls['description'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-start-date">Data rozpoczęcia:</label>
  <input id="event-start-date" type="date" formControlName="startDate">
  <ng-container *ngIf="firstForm.controls['startDate'].touched">
    <div *ngIf="firstForm.controls['startDate'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-start-time">Godzina rozpoczęcia:</label>
  <input id="event-start-time" type="time" formControlName="startTime">
  <ng-container *ngIf="firstForm.controls['startTime'].touched">
    <div *ngIf="firstForm.controls['startTime'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <button [disabled]="firstForm.invalid" class="btn btn__primary btn__medium">Dalej</button>
</form>


<form [formGroup]="secondForm" *ngIf="step===2" (ngSubmit)="secondFormSubmit()">
  <label for="event-city">Miejscowość:</label>
  <input id="event-city" type="text" formControlName="city">
  <ng-container *ngIf="secondForm.controls['city'].touched">
    <div *ngIf="secondForm.controls['city'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-place-name">Nazwa miejsca:</label>
  <input id="event-place-name" type="text" formControlName="placeName">
  <ng-container *ngIf="secondForm.controls['placeName'].touched">
    <div *ngIf="secondForm.controls['placeName'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-street">Ulica:</label>
  <input id="event-street" type="text" formControlName="street">
  <ng-container *ngIf="secondForm.controls['street'].touched">
    <div *ngIf="secondForm.controls['street'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-street-number">Nr domu:</label>
  <input id="event-street-number" type="text" formControlName="streetNumber">
  <ng-container *ngIf="secondForm.controls['streetNumber'].touched">
    <div *ngIf="secondForm.controls['streetNumber'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-local-number">Nr mieszkania:</label>
  <input id="event-local-number" type="text" formControlName="localNumber">
  <ng-container *ngIf="secondForm.controls['localNumber'].touched">
    <div *ngIf="secondForm.controls['localNumber'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <label for="event-post-code">Kod pocztowy:</label>
  <input id="event-post-code" type="text" formControlName="postcode">
  <ng-container *ngIf="secondForm.controls['postcode'].touched">
    <div *ngIf="secondForm.controls['postcode'].errors?.['required']">
      Pole wymagane
    </div>
  </ng-container>
  <button [disabled]="secondForm.invalid" class="btn btn__primary btn__medium">Dalej</button>
</form>

<form [formGroup]="thirdForm" *ngIf="step===3">
  <label for="event-min-members">Min. liczba osób:</label>
  <input id="event-min-members" type="number" formControlName="minMembers">

  <label for="event-max-members">Max. liczba osób:</label>
  <input id="event-max-members" type="number" formControlName="maxMembers">

  <label for="event-deadline-decision">Deadline odpowiedzi:</label>
  <input id="event-deadline-decision" type="date" formControlName="deadlineDecision">

  <button [disabled]="thirdForm.invalid" class="btn btn__primary btn__medium">Publikuj</button>
</form>
