.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.063rem solid var(--color-secondary-gray-4);

  & > * {
    padding: 1rem;
    width: 25%;
  }

  &__name {
  }
  &__address {
  }
  &__date-container {
  }
  &__date {
  }
  &__time {
  }
  &__buttons {
  }
  &__decision {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.5rem 0.6rem;
    color: var(--color-primary-red);
  }
  a {
    text-decoration: none;
    color: var(--color-secondary-gray-1);
  }
}
