.event-details {
  &__user-tabs {
    display: flex;
    list-style: none;
  }

  &__user-tab {
    padding: 1rem;
    cursor: pointer;

    &:hover {
      color: var(--color-secondary-red);
    }
  }
}
